extends layout

block pageContent
  #header
    #title
      h1  — WEAR — 
    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          //
            Hamburger Button 
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#/today') TODAY
            li
              a(href='#/tomorrow') TOMORROW
          ul.nav.navbar-nav.navbar-right
            li
              //
                 Creates the location search form
              form#search.navbar-form.navbar-right(role='search', method="post", action="/search")
                .form-group
                  input.form-control(type='text', placeholder='Zip Code', name="zipcode")
                button.btn.btn-default(type='submit') Find Weather
  #mainContent.container
    //
       Weather Display
    .col-xs-12.col-md-4.col-md-push-8
      div(ng-repeat='day in main.days')
        img(src='#{imgtoday}', alt='#{conditionstoday}', width='100')
        #city
          body #{zipcode}
        #temp
          | #{hightoday}°F/#{lowtoday}°F
        ul
          li #{conditionstoday}
          li Chance of Rain: #{poptoday} %

    //
       Clothing Side
    .col-xs-12.col-md-6.col-md-pull-4
      .well
        #clothes
          
            img(src='/pictures/shirts/buttonup.png', alt='button-up', width='300') 
            body  Button-up

            img(src='/pictures/pants/jeans.png', alt='jeans', width='300')
            body  Jeans

            img(src='/pictures/shoes/hightop.png', alt='hightop', width='300') 
            body  Hightops

            img(src='/pictures/accessories/baseballcap.png', alt='baseball cap', width='300') 
            body  Baseball cap

  script(src='js/jquery-1.11.1.js')
  script(src='js/bootstrap.js')